@import 'highlight.js/styles/github.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FA;
  color: #333333;
}

.hljs {
  background: #f8f9fa !important;
  padding: 1rem !important;
  border-radius: 0.5rem !important;
}
